In [2]:
import pandas as pd
import requests

In [3]:
response = requests.get('https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias?$top=10000&$format=json')
information = response.json()
df = pd.DataFrame(information ['value'])

pd.set_option('display.float_format', '{:.2f}'.format)


display(df)

            Data  Quantidade          Valor Denominacao  Especie
0     1994-10-03   692701959     6927019.59        0.01   Moedas
1     1994-10-03   462277579    23113878.95        0.05   Moedas
2     1994-10-03   404559065    40455906.50        0.10   Moedas
3     1994-10-03     1492870      373217.50        0.25   Moedas
4     1994-10-03   278901842   139450921.00        0.50   Moedas
...          ...         ...            ...         ...      ...
9995  1998-05-21   139125065   695625325.00        5.00  Cédulas
9996  1998-05-21   371895517  3718955170.00       10.00  Cédulas
9997  1998-05-21   214232925 10711646250.00       50.00  Cédulas
9998  1998-05-21     7948813   794881300.00      100.00  Cédulas
9999  1998-05-22  1842499754    18424997.54        0.01   Moedas

[10000 rows x 5 columns]

In [ ]:
df.info()

In [9]:
def calcular_estatisticas(coluna):
    moda = int(coluna.mode()[0])
    mediana = int(coluna.median())
    media = int(coluna.mean())
    variancia = int(coluna.var())
    desvPadrao = int(coluna.std())
    return moda, mediana, media, variancia, desvPadrao


moda_quantidade, mediana_quantidade, media_quantidade, variancia_quantidade, desvPadrao_quantidade = calcular_estatisticas(df['Quantidade'])
moda_valor, mediana_valor, media_valor, variancia_valor, desvPadrao_valor = calcular_estatisticas(df['Valor'])


print(f"Moda (Quantidade): {moda_quantidade}")
print(f"Mediana (Quantidade): {mediana_quantidade}")
print(f"Média (Quantidade): {media_quantidade}")
print(f"Variancia (Quantidade): {variancia_quantidade}")
print(f"Desvio Padrao (Quantidade): {desvPadrao_quantidade}")

print(f"Moda (Valor): {moda_valor}")
print(f"Mediana (Valor): {mediana_valor}")
print(f"Média (Valor): {media_valor}")
print(f"Variancia (Valor): {variancia_valor}")
print(f"Desvio Padrao (Valor): {desvPadrao_valor}")

Moda (Quantidade): 211316510
Mediana (Quantidade): 327226676
Média (Quantidade): 460155967
Variancia (Quantidade): 166682481732723296
Desvio Padrao (Quantidade): 408267659
Moda (Valor): 211316510
Mediana (Valor): 214783301
Média (Valor): 1172814259
Variancia (Valor): 4988710839022383104
Desvio Padrao (Valor): 2233542217